.font-size-0, .f0   { font-size: var(--font-size-0);  }
.font-size-1, .f1   { font-size: var(--font-size-1);  }
.font-size-2, .f2   { font-size: var(--font-size-2);  }
.font-size-3, .f3   { font-size: var(--font-size-3);  }
.font-size-4, .f4   { font-size: var(--font-size-4);  }
.font-size-5, .f5   { font-size: var(--font-size-5);  }
.font-size-6, .f6   { font-size: var(--font-size-6);  }
.font-size-7, .f7   { font-size: var(--font-size-7);  }
.font-size-8, .f8   { font-size: var(--font-size-8);  }
.font-size-9, .f9   { font-size: var(--font-size-9);  }
.font-size-10, .f10 { font-size: var(--font-size-10); }
.font-size-11, .f11 { font-size: var(--font-size-11); }

.line-height-solid, .lhs   { line-height: var(--line-height-solid);   }
.line-height-heading, .lhh { line-height: var(--line-height-heading); }
.line-height-body, .lhb    { line-height: var(--line-height-body);    }

.letter-spacing-tracked, .lst  { letter-spacing: var(--letter-spacing-tracked);  }
.letter-spacing-negative, .lsn { letter-spacing: var(--letter-spacing-negative); }
.letter-spacing-large, .lsl    { letter-spacing: var(--letter-spacing-large);    }

.maxwidth-measure, .m          { max-width: var(--measure);        }
.maxwidth-measure-wide, .mw    { max-width: var(--measure-wide);   }
.maxwidth-measure-narrow, .mn  { max-width: var(--measure-narrow); }

.italic, .i          { font-style: italic;             }
.normal, .n          { font-style: normal;             }
.underline, .u       { text-decoration: underline;     }
.no-decoration, .nd  { text-decoration: none;          }
.bold, .b            { font-weight: bold;              }
.strikethrough, .st  { text-decoration: line-through;  }
.uppercase, .uc      { text-transform: uppercase;      }
.lowercase, .lc      { text-transform: lowercase;      }
.capitalize, .cap    { text-transform: capitalize;     }

.text-center, .tc     { text-align: center;    }
.text-left, .tl       { text-align: left;      }
.text-right, .tr      { text-align: right;     }
.text-justify, .tj    { text-align: justify;   }
.text-nowrap, .tnw    { white-space: nowrap;   }
.text-wrap, .tw       { white-space: wrap;     }
.text-pre, .tp        { white-space: pre;      }
.text-pre-wrap, .tpw  { white-space: pre-wrap; }
.text-pre-line, .tpl  { white-space: pre-line; }
