.font-stack-system, .system                   { font-family: var(--system);               }
.font-stack-transitional, .transitional       { font-family: var(--transitional);         }
.font-stack-old-style, .old-style             { font-family: var(--old-style);            }
.font-stack-humanist, .humanist               { font-family: var(--humanist);             }
.font-stack-geometric-humanist, .geo-humanist { font-family: var(--geometric-humanist);   }
.font-stack-classical-humanist, .classical    { font-family: var(--classical-humanist);   }
.font-stack-neo-grotesque, .neo-grotesque     { font-family: var(--neo-grotesque);        }
.font-stack-monospace-slab, .mono-slab        { font-family: var(--monospace-slab-serif); }
.font-stack-monospace-code, .mono-code        { font-family: var(--monospace-code);       }
.font-stack-industrial, .industrial           { font-family: var(--industrial);           }
.font-stack-rounded-sans, .rounded            { font-family: var(--rounded-sans);         }
.font-stack-slab-serif, .slab                 { font-family: var(--slab-serif);           }
.font-stack-antique, .antique                 { font-family: var(--antique);              }
.font-stack-didone, .didone                   { font-family: var(--didone);               }
.font-stack-handwritten, .handwritten         { font-family: var(--handwritten);          }

.normal, .fontweight-normal   { font-weight: normal; }
.b, .fontweight-bold          { font-weight: bold; }
.fontweight-100, .fw-100      { font-weight: 100; }
.fontweight-200, .fw-200      { font-weight: 200; }
.fontweight-300, .fw-300      { font-weight: 300; }
.fontweight-400, .fw-400      { font-weight: 400; }
.fontweight-500, .fw-500      { font-weight: 500; }
.fontweight-600, .fw-600      { font-weight: 600; }
.fontweight-700, .fw-700      { font-weight: 700; }
.fontweight-800, .fw-800      { font-weight: 800; }
.fontweight-900, .fw-900      { font-weight: 900; }
