a {
    color: var(--link-color);
    text-decoration: underline;
    text-decoration-color: var(--link-decoration-color);
    text-decoration-thickness: var(--link-decoration-thickness);
    text-underline-offset: var(--link-underline-offset);

    &:hover {
       color: var(--link-color-hover);
       text-decoration-color: var(--link-decoration-color-hover);
    }

    &:focus {
        outline: 2px solid var(--link-color-hover);
    }
}
